Repository indichen/mes-da: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scmes_deploy, ytmes_deploy, fm_deploy

scmes_deploy:
  type: deploy
  environment:
    name: da-service-scmes
    url: http://wcp-edge-ap1:3333/SCMES/
  script:
  - echo "[da-service] Deploying SCMES..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T SCMES/deploy.txt -C SCMES/
  - scp ${TARBALL} root@${DA_SERVER}:/tmp
  ...

ytmes_deploy:
  type: deploy
  environment:
    name: da-service-ytmes
    url: http://wcp-edge-ap1:3333/YTMES/
  script:
  - echo "[da-service] Deploying YTMES..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T YTMES/deploy.txt -C YTMES/
  - scp ${TARBALL} root@${DA_SERVER}:/tmp
  ...

fm_deploy:
  type: deploy
  environment:
    name: da-service-factorymodel
    url: http://wcp-edge-ap1:3333/FactoryModel/
  script:
  - echo "[da-service] Deploying FactoryModel..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T FactoryModel/deploy.txt -C FactoryModel/
  ...

[SCMES] 重工簽核單新增: 制令, SAP 工單, 操作員, 預估生產日期
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME1.htm
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME50.htm
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME69.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME89.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[YTMES] 1) 修改長度超過平台限制 (25 char) 的自定義檔案表名稱 cust_material_produce_stage 為 cust_mat_produce_stage 2) 修改 mtaa+material.produce_stage_cd 型態為 type_enum_val
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME0.svg
  YTMES/YTMES_files/YTME12.htm
  YTMES/YTMES_files/YTME17.htm
  YTMES/YTMES_files/YTME9.htm
Due: ytmes_deploy

[FactoryModel] FM8_質檢方案 (fm8_qc_plan) 新增 備註 (note) 欄位
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact12.htm
  FactoryModel/FactoryModel_files/Fact13.htm
  FactoryModel/FactoryModel_files/Fact14.htm
  FactoryModel/FactoryModel_files/Fact3.htm
  FactoryModel/FactoryModel_files/Fact4.svg
  FactoryModel/FactoryModel_files/Fact49.htm
  FactoryModel/FactoryModel_files/Fact5.htm
  FactoryModel/FactoryModel_files/Fact50.htm
  FactoryModel/FactoryModel_files/Fact51.htm
  FactoryModel/FactoryModel_files/Fact52.htm
  FactoryModel/FactoryModel_files/Fact53.htm
  FactoryModel/FactoryModel_files/Fact54.htm
  FactoryModel/FactoryModel_files/Fact55.htm
  FactoryModel/FactoryModel_files/Fact61.htm
  FactoryModel/FactoryModel_files/Fact67.htm
  FactoryModel/FactoryModel_files/Fact7.svg
  FactoryModel/FactoryModel_files/Fact78.htm
  FactoryModel/FactoryModel_files/Fact79.htm
  FactoryModel/FactoryModel_files/Fact8.htm
  FactoryModel/FactoryModel_files/Fact83.htm
  FactoryModel/FactoryModel_files/Fact84.htm
  FactoryModel/FactoryModel_files/Fact87.htm
  FactoryModel/FactoryModel_files/Fact88.htm
  FactoryModel/FactoryModel_files/Fact90.htm
  FactoryModel/FactoryModel_files/Fact9_2.htm
  FactoryModel/FactoryModel_files/Fact9_3.htm
  FactoryModel/FactoryModel_files/Fact9_4.htm
  FactoryModel/FactoryModel_files/Fact9_5.htm
  FactoryModel/FactoryModel_files/Fact9_6.htm
  FactoryModel/FactoryModel_files/FactoryModel_toc.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[FactoryModel] fm8_標準工序 新增 站點PK/站點cd/站點name ，提供 SCMES 合併生產參考使用.
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact12.htm
  FactoryModel/FactoryModel_files/Fact13.htm
  FactoryModel/FactoryModel_files/Fact14.htm
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact4.svg
  FactoryModel/FactoryModel_files/Fact46.htm
  FactoryModel/FactoryModel_files/Fact48.htm
  FactoryModel/FactoryModel_files/Fact49.htm
  FactoryModel/FactoryModel_files/Fact50.htm
  FactoryModel/FactoryModel_files/Fact51.htm
  FactoryModel/FactoryModel_files/Fact52.htm
  FactoryModel/FactoryModel_files/Fact53.htm
  FactoryModel/FactoryModel_files/Fact54.htm
  FactoryModel/FactoryModel_files/Fact55.htm
  FactoryModel/FactoryModel_files/Fact56.htm
  FactoryModel/FactoryModel_files/Fact6.svg
  FactoryModel/FactoryModel_files/Fact62.htm
  FactoryModel/FactoryModel_files/Fact64.htm
  FactoryModel/FactoryModel_files/Fact68.htm
  FactoryModel/FactoryModel_files/Fact7.svg
  FactoryModel/FactoryModel_files/Fact79.htm
  FactoryModel/FactoryModel_files/Fact80.htm
  FactoryModel/FactoryModel_files/Fact84.htm
  FactoryModel/FactoryModel_files/Fact85.htm
  FactoryModel/FactoryModel_files/Fact86.htm
  FactoryModel/FactoryModel_files/Fact88.htm
  FactoryModel/FactoryModel_files/Fact89.htm
  FactoryModel/FactoryModel_files/Fact91.htm
  FactoryModel/FactoryModel_files/Fact92.htm
  FactoryModel/FactoryModel_files/Fact9_2.htm
  FactoryModel/FactoryModel_files/Fact9_3.htm
  FactoryModel/FactoryModel_files/Fact9_4.htm
  FactoryModel/FactoryModel_files/Fact9_5.htm
  FactoryModel/FactoryModel_files/Fact9_6.htm
  FactoryModel/FactoryModel_files/FactoryModel_toc.html
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[FactoryModel] 除了 YTMES 的 4 張tables, 移除不應該在業務系統 DB 裡的 cust_xxx table.
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact15.htm
  FactoryModel/FactoryModel_files/Fact16.htm
  FactoryModel/FactoryModel_files/Fact17.htm
  FactoryModel/FactoryModel_files/Fact18.htm
  FactoryModel/FactoryModel_files/Fact19.htm
  FactoryModel/FactoryModel_files/Fact20.htm
  FactoryModel/FactoryModel_files/Fact21.htm
  FactoryModel/FactoryModel_files/Fact22.htm
  FactoryModel/FactoryModel_files/Fact23.htm
  FactoryModel/FactoryModel_files/Fact24.htm
  FactoryModel/FactoryModel_files/Fact25.htm
  FactoryModel/FactoryModel_files/Fact26.htm
  FactoryModel/FactoryModel_files/Fact27.htm
  FactoryModel/FactoryModel_files/Fact28.htm
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[FactoryModel] Commit not-saved PDM file, not new release.
  FactoryModel/MES-FactoryModel.pdm
Due: none

[All] Rename cust_xxx to shorter to fit into platform limitation, SQL not changed.
  FactoryModel/FactoryModel_files/Fact14.htm
  FactoryModel/FactoryModel_files/Fact19.htm
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact20.htm
  FactoryModel/FactoryModel_files/Fact21.htm
  FactoryModel/FactoryModel_files/Fact22.htm
  FactoryModel/MES-FactoryModel.pdm
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME10.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES.pdm
  YTMES/YTMES.pdm
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME11.htm
  YTMES/YTMES_files/YTME9.htm
Due: scmes_deploy, ytmes_deploy

[Process] Add *.htm for pipeline change monitor.
  .gitlab-ci.yml
Due: none

Dummy commit to trigger pipeline.
  FactoryModel/FactoryModel.html
Due: fm_deploy

[Init Data] Initial implementation of the data tool.
  .gitignore
  InitData/SCMES/c_cust_carrier_cat.sql
  InitData/SCMES/c_cust_carrier_status.sql
  InitData/SCMES/c_cust_equip_status.sql
  InitData/SCMES/c_cust_lot_source_code.sql
  InitData/SCMES/c_cust_lot_status.sql
  InitData/SCMES/c_cust_mo_priority.sql
  InitData/SCMES/c_cust_mo_status.sql
  InitData/SCMES/c_cust_org_factory_map.sql
  InitData/SCMES/c_cust_po_group_status.sql
  InitData/SCMES/c_cust_process_po_status.sql
  InitData/SCMES/c_cust_process_po_type.sql
  InitData/SCMES/c_cust_quality_code.sql
  InitData/SCMES/c_cust_sap_po_factory.sql
  InitData/SCMES/c_cust_sappo_proc_status.sql
  InitData/SCMES/gen_cust.py
Due: none

[InitData] Add cust_mo_type
  InitData/SCMES/c_cust_mo_type.sql
  InitData/SCMES/gen_cust.py
Due: none

[Init Data] Update c_cust_carrier_status data with adding notes.
  InitData/SCMES/c_cust_carrier_status.sql
  InitData/SCMES/gen_cust.py
Due: none

[InitData] Add c_cust_equip_prod_type
  InitData/SCMES/c_cust_equip_prod_type.sql
  InitData/SCMES/gen_cust.py
Due: none

[InitData] Init equipment and basic_process related tables
  InitData/SCMES/fm6_equipment.sql
  InitData/SCMES/fm6_equipment_process.sql
  InitData/SCMES/fm6_equipment_status.sql
  InitData/SCMES/fm8_basic_process.sql
  InitData/SCMES/gen_mes.py
Due: none

[InitData] Update c_cust_lot_source_code
  InitData/SCMES/c_cust_lot_source_code.sql
  InitData/SCMES/gen_cust.py
Due: none

[SCMES] 修正幾張 table 命名錯誤: mw_common_source_lot, mwc_checkout_queue, mwc_copper_history, mwc_lot_detail, mwc_lot_history, mwc_rework_signing, mwc_rework_signing_process
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME28.htm
  SCMES/SCMES-Physical-Model_files/SCME41.htm
  SCMES/SCMES-Physical-Model_files/SCME45.htm
  SCMES/SCMES-Physical-Model_files/SCME46.htm
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[FactoryModel] 修正 fm8_qc_items table 名稱
  FactoryModel/FactoryModel.html
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact14.htm
  FactoryModel/FactoryModel_files/Fact52.htm
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[SCMES] 製程工單加入 '原因'
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME2.htm
  SCMES/SCMES-Physical-Model_files/SCME2_1.htm
  SCMES/SCMES-Physical-Model_files/SCME2_2.htm
  SCMES/SCMES-Physical-Model_files/SCME2_3.htm
  SCMES/SCMES-Physical-Model_files/SCME2_4.htm
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_7.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME2_9.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME50.htm
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME56.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME70.htm
  SCMES/SCMES-Physical-Model_files/SCME78.htm
  SCMES/SCMES-Physical-Model_files/SCME91.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[FactoryModel] 1) 新增 長名稱 型別 2) 修改 物料分類.分類名稱 使用長名稱
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact10.htm
  FactoryModel/FactoryModel_files/Fact47.htm
  FactoryModel/FactoryModel_files/Fact5.svg
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[InitData] Add fm7_material_cat (with Oracle data readers)
  InitData/SCMES/fm7_material_cat.sql
  InitData/SCMES/gen_mes.py
  InitData/SCMES/read_old_mes.py
Due: none

[Process] Update gitignore
  .gitignore
Due: none

[InitData] 1) 轉檔工具固定 create_user, last_modify_user = 'U001' 2) 忽略 Oracle data decode 失敗 (資料會有中文字切一半的) 3) 新增 SFCWF30 Oracle table 支援
  InitData/SCMES/fm6_equipment.sql
  InitData/SCMES/fm6_equipment_process.sql
  InitData/SCMES/fm6_equipment_status.sql
  InitData/SCMES/fm8_basic_process.sql
  InitData/SCMES/gen_mes.py
  InitData/SCMES/read_old_mes.py
Due: none

[InitData] Add README
  InitData/SCMES/READE.md
Due: none

[SCMES] 修正 mwc_copper_history.factory_id 為 factory_cd
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[InitData] Fix c_cust_equip_prod_type typo.
  InitData/SCMES/c_cust_equip_prod_type.sql
  InitData/SCMES/gen_cust.py
Due: none

[FactoryModel] fm7_material 的 name & name_en 擴展使用 long name
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact46.htm
  FactoryModel/FactoryModel_files/Fact5.svg
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/FactoryModel_files/TmpRtf.rtf
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[InitData] Update c_cust_process_po_status according to SA/SD request.
  InitData/SCMES/c_cust_process_po_status.sql
  InitData/SCMES/gen_cust.py
Due: none

[InitData] Add processing of HRM010M in Oracle.
  InitData/SCMES/read_old_mes.py
Due: none

[InitData] 移除測試機台
  InitData/SCMES/gen_mes.py
Due: none

[SCMES] 修正 mlo_mo 欄位 typo: next_process_ok => next_process_pk, next_process => next_process_cd
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME2.htm
  SCMES/SCMES-Physical-Model_files/SCME29.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 製程工單加入 上制序 & 下制序 (prev_seq_route & next_seq_route)
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME2_2.htm
  SCMES/SCMES-Physical-Model_files/SCME2_3.htm
  SCMES/SCMES-Physical-Model_files/SCME2_4.htm
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_7.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME2_9.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME56.htm
  SCMES/SCMES-Physical-Model_files/SCME57.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME71.htm
  SCMES/SCMES-Physical-Model_files/SCME77.htm
  SCMES/SCMES-Physical-Model_files/SCME79.htm
  SCMES/SCMES-Physical-Model_files/SCME92.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[InitData] 加入 c_cust_config
  InitData/SCMES/c_cust_config.sql
  InitData/SCMES/gen_cust.py
Due: none

Path conditions:
  scmes_deploy: any of: SCMES/*.html, SCMES/**/*.html, SCMES/*.sql
  ytmes_deploy: any of: YTMES/*.html, YTMES/**/*.html, YTMES/*.sql
  fm_deploy: any of: FactoryModel/*.html, FactoryModel/**/*.html, FactoryModel/*.sql
