Repository indichen/mes-da: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scmes_deploy, ytmes_deploy, fm_deploy

scmes_deploy:
  type: deploy
  environment:
    name: da-service-scmes
    url: http://wcp-edge-ap1:3333/SCMES/
  script:
  - echo "[da-service] Deploying SCMES..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T SCMES/deploy.txt -C SCMES/
  - scp ${TARBALL} root@${DA_SERVER}:/tmp
  ...

ytmes_deploy:
  type: deploy
  environment:
    name: da-service-ytmes
    url: http://wcp-edge-ap1:3333/YTMES/
  script:
  - echo "[da-service] Deploying YTMES..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T YTMES/deploy.txt -C YTMES/
  - scp ${TARBALL} root@${DA_SERVER}:/tmp
  ...

fm_deploy:
  type: deploy
  environment:
    name: da-service-factorymodel
    url: http://wcp-edge-ap1:3333/FactoryModel/
  script:
  - echo "[da-service] Deploying FactoryModel..."
  - echo "[da-service] CI_COMMIT_SHORT_SHA=${CI_COMMIT_SHORT_SHA}"
  - tar zcf ${TARBALL} -T FactoryModel/deploy.txt -C FactoryModel/
  ...

Add release info
  .gitlab-ci.yml
Due: none

Introduce deploy.sh script.
  .gitlab-ci.yml
  deploy.sh
Due: none

Add source_lot in mwc_lot_detail
  SCMES/SCMES.pdm
Due: none

Revert "Add source_lot in mwc_lot_detail"
  SCMES/SCMES.pdm
Due: none

Add carrier code into carrier base info.
  FactoryModel/MES-FactoryModel.pdm
Due: none

Add piece_count in carrier type
  FactoryModel/MES-FactoryModel.pdm
Due: none

Add cust_process_po_type
  SCMES/SCMES.pdm
Due: none

1) Add 3 columns in sap_po; 2) add cust_process_po_type & cust_org_factory_map; 3) Add mlo_copper_size table.
  SCMES/SCMES.pdm
Due: none

Add cust_quality_code
  SCMES/SCMES.pdm
Due: none

Change data type of ID domain t varchar(40)
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact0.svg
  FactoryModel/FactoryModel_files/Fact1.svg
  FactoryModel/FactoryModel_files/Fact10.htm
  FactoryModel/FactoryModel_files/Fact15.htm
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact22.htm
  FactoryModel/FactoryModel_files/Fact24.htm
  FactoryModel/FactoryModel_files/Fact3.svg
  FactoryModel/FactoryModel_files/Fact30.htm
  FactoryModel/FactoryModel_files/Fact31.htm
  FactoryModel/FactoryModel_files/Fact32.htm
  FactoryModel/FactoryModel_files/Fact33.htm
  FactoryModel/FactoryModel_files/Fact34.htm
  FactoryModel/FactoryModel_files/Fact36.htm
  FactoryModel/FactoryModel_files/Fact37.htm
  FactoryModel/FactoryModel_files/Fact39.htm
  FactoryModel/FactoryModel_files/Fact4.svg
  FactoryModel/FactoryModel_files/Fact42.htm
  FactoryModel/FactoryModel_files/Fact43.htm
  FactoryModel/FactoryModel_files/Fact44.htm
  FactoryModel/FactoryModel_files/Fact45.htm
  FactoryModel/FactoryModel_files/Fact47.htm
  FactoryModel/FactoryModel_files/Fact48.htm
  FactoryModel/FactoryModel_files/Fact5.svg
  FactoryModel/FactoryModel_files/Fact50.htm
  FactoryModel/FactoryModel_files/Fact6.svg
  FactoryModel/FactoryModel_files/Fact7.svg
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

Change data type of ID domain to varchar(40)
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME0.svg
  YTMES/YTMES_files/YTME1.htm
  YTMES/YTMES_files/YTME1.svg
  YTMES/YTMES_files/YTME13.htm
  YTMES/YTMES_files/YTME16.htm
  YTMES/YTMES_files/YTME17.htm
  YTMES/YTMES_files/YTME18.htm
  YTMES/YTMES_files/YTME2.svg
  YTMES/YTMES_files/YTME23.htm
  YTMES/YTMES_files/YTME25.htm
  YTMES/YTMES_files/YTME26.htm
  YTMES/YTMES_files/YTME27.htm
  YTMES/YTMES_files/YTME28.htm
  YTMES/YTMES_files/YTME29.htm
  YTMES/YTMES_files/YTME3.svg
  YTMES/YTMES_files/YTME30.htm
  YTMES/YTMES_files/YTME31.htm
  YTMES/YTMES_files/YTME32.htm
  YTMES/YTMES_files/YTME33.htm
  YTMES/YTMES_files/YTME34.htm
  YTMES/YTMES_files/YTME6.htm
Due: ytmes_deploy

Upate dat type of carrier type code to ID domain, instead of original int
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact21.htm
  FactoryModel/FactoryModel_files/Fact28.htm
  FactoryModel/FactoryModel_files/Fact39.htm
  FactoryModel/FactoryModel_files/Fact4.svg
  FactoryModel/FactoryModel_files/Fact42.htm
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

Update data type of code in spec, quality, and usage tables
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME0.svg
  YTMES/YTMES_files/YTME1.svg
  YTMES/YTMES_files/YTME10.htm
  YTMES/YTMES_files/YTME13.htm
  YTMES/YTMES_files/YTME14.htm
  YTMES/YTMES_files/YTME15.htm
  YTMES/YTMES_files/YTME16.htm
  YTMES/YTMES_files/YTME17.htm
  YTMES/YTMES_files/YTME18.htm
  YTMES/YTMES_files/YTME2.svg
  YTMES/YTMES_files/YTME23.htm
  YTMES/YTMES_files/YTME25.htm
  YTMES/YTMES_files/YTME26.htm
  YTMES/YTMES_files/YTME27.htm
  YTMES/YTMES_files/YTME28.htm
  YTMES/YTMES_files/YTME29.htm
  YTMES/YTMES_files/YTME3.svg
  YTMES/YTMES_files/YTME30.htm
  YTMES/YTMES_files/YTME31.htm
  YTMES/YTMES_files/YTME32.htm
  YTMES/YTMES_files/YTME33.htm
  YTMES/YTMES_files/YTME34.htm
  YTMES/YTMES_files/YTME6.htm
Due: ytmes_deploy

Add tenant_id in default columns
  Utility/sqlsv2017-iuap.xdb
Due: none

[SCMES] Fix id column code in mlo_po_group
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME30.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 1) 線纜 lot 增加 外徑; 2) 變更品質碼 code 型態為 type_cd;
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME11.htm
  SCMES/SCMES-Physical-Model_files/SCME2.htm
  SCMES/SCMES-Physical-Model_files/SCME2_1.htm
  SCMES/SCMES-Physical-Model_files/SCME2_2.htm
  SCMES/SCMES-Physical-Model_files/SCME2_3.htm
  SCMES/SCMES-Physical-Model_files/SCME2_4.htm
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_7.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME39.htm
  SCMES/SCMES-Physical-Model_files/SCME4.htm
  SCMES/SCMES-Physical-Model_files/SCME44.htm
  SCMES/SCMES-Physical-Model_files/SCME45.htm
  SCMES/SCMES-Physical-Model_files/SCME46.htm
  SCMES/SCMES-Physical-Model_files/SCME47.htm
  SCMES/SCMES-Physical-Model_files/SCME48.htm
  SCMES/SCMES-Physical-Model_files/SCME49.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME50.htm
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME57.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME66.htm
  SCMES/SCMES-Physical-Model_files/SCME67.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME70.htm
  SCMES/SCMES-Physical-Model_files/SCME73.htm
  SCMES/SCMES-Physical-Model_files/SCME75.htm
  SCMES/SCMES-Physical-Model_files/SCME83.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[YTMES] 添加平台定義的 tenant_id 預設欄位
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME1.htm
  YTMES/YTMES_files/YTME10.htm
  YTMES/YTMES_files/YTME13.htm
  YTMES/YTMES_files/YTME14.htm
  YTMES/YTMES_files/YTME15.htm
  YTMES/YTMES_files/YTME17.htm
  YTMES/YTMES_files/YTME18.htm
  YTMES/YTMES_files/YTME19.htm
  YTMES/YTMES_files/YTME20.htm
  YTMES/YTMES_files/YTME21.htm
  YTMES/YTMES_files/YTME22.htm
  YTMES/YTMES_files/YTME23.htm
  YTMES/YTMES_files/YTME24.htm
  YTMES/YTMES_files/YTME25.htm
  YTMES/YTMES_files/YTME26.htm
  YTMES/YTMES_files/YTME27.htm
  YTMES/YTMES_files/YTME28.htm
  YTMES/YTMES_files/YTME29.htm
  YTMES/YTMES_files/YTME3.svg
  YTMES/YTMES_files/YTME30.htm
  YTMES/YTMES_files/YTME31.htm
  YTMES/YTMES_files/YTME32.htm
  YTMES/YTMES_files/YTME33.htm
  YTMES/YTMES_files/YTME34.htm
Due: ytmes_deploy

[FactoryModel] 修正 FM6_生產機台狀態 typo.
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact40.htm
  FactoryModel/FactoryModel_files/Fact9_2.htm
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[YTMES] 修正 MTAF_料號狀態碼 typo
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/Footer_LightBlue.html
  YTMES/YTMES_files/Home_LightBlue.html
  YTMES/YTMES_files/YTME0.svg
  YTMES/YTMES_files/YTME33.htm
Due: ytmes_deploy

[FactoryModel] 載具現況加載具 cd
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact12.htm
  FactoryModel/FactoryModel_files/Fact13.htm
  FactoryModel/FactoryModel_files/Fact14.htm
  FactoryModel/FactoryModel_files/Fact3.htm
  FactoryModel/FactoryModel_files/Fact4.svg
  FactoryModel/FactoryModel_files/Fact5.htm
  FactoryModel/FactoryModel_files/Fact53.htm
  FactoryModel/FactoryModel_files/Fact54.htm
  FactoryModel/FactoryModel_files/Fact66.htm
  FactoryModel/FactoryModel_files/Fact77.htm
  FactoryModel/FactoryModel_files/Fact78.htm
  FactoryModel/FactoryModel_files/Fact8.htm
  FactoryModel/FactoryModel_files/Fact9_2.htm
  FactoryModel/FactoryModel_files/Fact9_3.htm
  FactoryModel/FactoryModel_files/Fact9_4.htm
  FactoryModel/FactoryModel_files/Fact9_5.htm
  FactoryModel/FactoryModel_files/FactoryModel_toc.html
  FactoryModel/FactoryModel_files/Footer_LightBlue.html
  FactoryModel/FactoryModel_files/Home_LightBlue.html
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[YTMES] 1) 一致化 mtaa_material 等 5 張 table 的 cd->code 命名; 2) 修正 mtaf_material_mechanical_spec 關聯 mtaf_material_mechanical 的欄位命名;
  YTMES/YTMES.pdm
  YTMES/YTMES.sql
  YTMES/YTMES_files/YTME17.htm
  YTMES/YTMES_files/YTME24.htm
  YTMES/YTMES_files/YTME31.htm
  YTMES/YTMES_files/YTME32.htm
  YTMES/YTMES_files/YTME33.htm
  YTMES/YTMES_files/YTME5.htm
  YTMES/YTMES_files/YTME5_1.htm
Due: ytmes_deploy

Path conditions:
  scmes_deploy: any of: SCMES/*.html, SCMES/**/*.html, SCMES/*.sql
  ytmes_deploy: any of: YTMES/*.html, YTMES/**/*.html, YTMES/*.sql
  fm_deploy: any of: FactoryModel/*.html, FactoryModel/**/*.html, FactoryModel/*.sql
