Repository indichen/mes-da: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scmes_deploy, ytmes_deploy, fm_deploy

scmes_deploy:
  type: deploy
  environment:
    name: da-service-scmes
    url: http://wcp-edge-ap1:3333/SCMES/
  script:
  - ${CI_PROJECT_DIR}/deploy.sh SCMES

ytmes_deploy:
  type: deploy
  environment:
    name: da-service-ytmes
    url: http://wcp-edge-ap1:3333/YTMES/
  script:
  - ${CI_PROJECT_DIR}/deploy.sh YTMES

fm_deploy:
  type: deploy
  environment:
    name: da-service-factorymodel
    url: http://wcp-edge-ap1:3333/FactoryModel/
  script:
  - ${CI_PROJECT_DIR}/deploy.sh FactoryModel

[SCMES] 調整 SAP工單 & 下載處理明細 客戶名稱型態 為 nvarchar(30)
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME26.htm
  SCMES/SCMES-Physical-Model_files/SCME27.htm
  SCMES/SCMES-Physical-Model_files/SCME2_9.htm
  SCMES/SCMES-Physical-Model_files/SCME3.htm
  SCMES/SCMES-Physical-Model_files/SCME90.htm
  SCMES/SCMES-Physical-Model_files/SCME91.htm
  SCMES/SCMES-Physical-Model_files/SCME92.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 因為 LOT 顏色沒有主檔定義，調整 線纜 LOT 明細 & 流水 (mwc_lot_detail & mwc_lot_history) 的顏色碼為自由輸入文字欄位。
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME46.htm
  SCMES/SCMES-Physical-Model_files/SCME47.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 修正 製程工單.預設機台代碼 (mlo_process_po.def_machine_cd) 型態為 type_cd , 不是 type_pk
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME51.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 修改 SAP工單.生管線種名稱 (mlo_sap_po.pmc_production_name) 為 type_long_name (nvarchar(40))
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME1.htm
  SCMES/SCMES-Physical-Model_files/SCME26.htm
  SCMES/SCMES-Physical-Model_files/SCME3.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[InitData] 1) Add carrier models and pairing with equipments. 2) Add a SQL runner tool.
  InitData/SCMES/fm6_carrier_model.sql
  InitData/SCMES/fm6_equipment_carrier.sql
  InitData/SCMES/gen_mes.py
  InitData/SCMES/read_old_mes.py
  InitData/SCMES/run_sql.py
Due: none

[FactoryModel] fm6_equipment.name 加大長度變更為 nvarchar(40)
  FactoryModel/FactoryModel.sql
  FactoryModel/FactoryModel_files/Fact2.svg
  FactoryModel/FactoryModel_files/Fact41.htm
  FactoryModel/MES-FactoryModel.pdm
Due: fm_deploy

[InitData] 1) 更新 deploy FM schema. 2) 依照新機台清單更新初始資料.
  InitData/SCMES/deploy/FactoryModel_existing.sql
  InitData/SCMES/deploy/fm6_equipment.sql
  InitData/SCMES/deploy/fm6_equipment_carrier.sql
  InitData/SCMES/deploy/fm6_equipment_process.sql
  InitData/SCMES/deploy/fm6_equipment_status.sql
  InitData/SCMES/gen_mes.py
Due: none

[SCMES] 1) 重工簽核單 (mwc_rework_signing) 加入 重工單號 (code); 2) 重工簽核單的 BPM PK 配合平臺修改為 char(36)
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME1.htm
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME2_9.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES-Physical-Model_files/SCME53.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME56.htm
  SCMES/SCMES-Physical-Model_files/SCME57.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME71.htm
  SCMES/SCMES-Physical-Model_files/SCME92.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[InitData] Add is_semiproduct for fm7_material
  InitData/SCMES/deploy/deploy.lst
  InitData/SCMES/deploy/deploy.sh
  InitData/SCMES/deploy/fm7_material-more.sql
  InitData/SCMES/gen_mes.py
Due: none

[InitData] Sync deploy init table script with final one.
  InitData/SCMES/deploy/FactoryModel_existing.sql
  InitData/SCMES/deploy/SCMES_existing.sql
Due: none

[SCMES] 修正 type_boolean 型態為 bit
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME1.htm
  SCMES/SCMES-Physical-Model_files/SCME26.htm
  SCMES/SCMES-Physical-Model_files/SCME27.htm
  SCMES/SCMES-Physical-Model_files/SCME3.htm
  SCMES/SCMES-Physical-Model_files/SCME41.htm
  SCMES/SCMES-Physical-Model_files/SCME43.htm
  SCMES/SCMES-Physical-Model_files/SCME45.htm
  SCMES/SCMES-Physical-Model_files/SCME46.htm
  SCMES/SCMES-Physical-Model_files/SCME47.htm
  SCMES/SCMES-Physical-Model_files/SCME52.htm
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[SCMES] 銅線現況及流水加入載具及料號信息
  SCMES/SCMES-Physical-Model_files/Footer_LightBlue.html
  SCMES/SCMES-Physical-Model_files/Home_LightBlue.html
  SCMES/SCMES-Physical-Model_files/SCME0.svg
  SCMES/SCMES-Physical-Model_files/SCME2_5.htm
  SCMES/SCMES-Physical-Model_files/SCME2_6.htm
  SCMES/SCMES-Physical-Model_files/SCME2_7.htm
  SCMES/SCMES-Physical-Model_files/SCME2_8.htm
  SCMES/SCMES-Physical-Model_files/SCME2_9.htm
  SCMES/SCMES-Physical-Model_files/SCME5.htm
  SCMES/SCMES-Physical-Model_files/SCME54.htm
  SCMES/SCMES-Physical-Model_files/SCME55.htm
  SCMES/SCMES-Physical-Model_files/SCME56.htm
  SCMES/SCMES-Physical-Model_files/SCME57.htm
  SCMES/SCMES-Physical-Model_files/SCME6.htm
  SCMES/SCMES-Physical-Model_files/SCME7.htm
  SCMES/SCMES-Physical-Model_files/SCME71.htm
  SCMES/SCMES-Physical-Model_files/SCMES-Physical-Model_toc.html
  SCMES/SCMES.pdm
  SCMES/SCMES.sql
Due: scmes_deploy

[InitData] mwc_copper & mwc_copper_history 加上 carrier & material 欄位.
  InitData/SCMES/deploy/SCMES_existing.sql
  InitData/SCMES/deploy/mwc_copper.sql
  InitData/SCMES/gen_mes.py
Due: none

[InitData] 依據YiCih 20190719 更新資訊，更新機台所屬 factory 及更正名稱
  InitData/SCMES/deploy/fm6_equipment.sql
  InitData/SCMES/gen_mes.py
Due: none

Path conditions:
  scmes_deploy: any of: SCMES/*.html, SCMES/**/*.html, SCMES/**/*.htm, SCMES/*.sql
  ytmes_deploy: any of: YTMES/*.html, YTMES/**/*.html, YTMES/**/*.htm, YTMES/*.sql
  fm_deploy: any of: FactoryModel/*.html, FactoryModel/**/*.html, FactoryModel/**/*.htm, FactoryModel/*.sql
